
@font-face {
    font-family: 'josefin_sansbold';
    src: url('../_fonts/josefinsans-bold-webfont.eot');
    src: url('../_fonts/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/josefinsans-bold-webfont.woff2') format('woff2'),
         url('../_fonts/josefinsans-bold-webfont.woff') format('woff'),
         url('../_fonts/josefinsans-bold-webfont.ttf') format('truetype'),
         url('../_fonts/josefinsans-bold-webfont.svg#josefin_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
